    *{
        margin: 0;
        padding: 0;
    }
    .conteiner{
        background-color: white;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        'header header header'
        'nav main aside'
        'footer footer footer';
        grid-template-columns: 10% 60% 30%;
        grid-template-rows: 10% 80% 10%;
    }
/*essa e a parte do css do que coresponde ao cabecalho*/ 
    header
    {
        display: flex;
        border:2px solid black;
        color: brown;  
        grid-area: header;
    }
/*essa e a parte do css que coresponde ao rodape*/
    footer{
        border:2px solid black;
        text-align: center;
        grid-area: footer;
    }
    .Icabecalho{
        width: 120px;
        height: 120px;
    }

header
{
    grid-area: header;

}
nav
{
    grid-area: nav;
}

main
{
    grid-area: main;
}

footer
{
    grid-area: footer;
}
aside
{
    grid-area: aside;
}