*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    width: auto;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav main aside'
    'footer footer footer';
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 200px auto 100px;
}
/*essa e a parte do css do que coresponde ao cabecalho*/ 
header{ 
    background-color: black;
    grid-area: header;
    text-align: center;     
}
.Icabecalho{
    margin-top: 10px;
    width: 120px;
    height: 120px;
}
.Lsite{
    color: white;
    margin-top: 10px;
}
/*essa parte esta responsavel pelo menu do site*/
nav{
    margin: 10px;
    text-align: center;
    grid-area: nav;
    padding: 10px;
}
.menu{
    margin: 10px;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 20px;
}
/*essa e a parte do css que coresponde ao rodape*/
footer{
    background-color: green;
    border:2px solid black;
    text-align: center;
    grid-area: footer;
}
main{
    grid-area: main;
}
aside{
    margin: 10px;
    grid-area: aside;
}
.filtro{
    border: 1px solid black;
    background-color: green;
    padding: 10px;
}
.busca{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: green;
    float: left;
    padding-left: 5px;
    font-size: 18px;
}
.botao
{
 display: flex;
 align-items: center;
 justify-content: center;
}
.espaco{
    margin-left: 5px;

}

a:hover{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:link{
    color: white;
    text-decoration: none; 
}



@media (max-width: 500px) {
    .conteiner{
        width: auto;
        height: auto;
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
        'header header '
        'nav nav'
        'main main '
        'footer footer ';
        grid-template-columns: auto auto ;
        grid-template-rows: 200px 100px auto 100px;
    }
    nav, .menu-s{
        display: flex;
        flex-direction: row;
    }
    aside{
        display: none;
    }
}